# .gitignore para PsiNote

# Ambientes virtuais
venv/
.env/

# PyInstaller build
build/
dist/
__pycache__/
*.spec

# Arquivos temporários
*.pyc
*.pyo
*.log

# Banco local (se aplicável)
*.sqlite3

# Arquivos do sistema
.DS_Store
Thumbs.db

# Arquivos de backup
*~
*.bak
*.tmp

# Ignora o instalador gerado
PsiNote_Installer.exe
# Garante que arquivos do instalador sejam incluídos
!installer\python\python-3.12.10-amd64.exe
